.newsContainer {
  display: grid;
  gap: 20px;
  padding: 5px;
  justify-content: center;
  font-family: 'EB Garamond', serif;
}

.newsContainerTitle {
}
.newsCard {
  box-shadow: -1px 1px 7px 0px rgb(124, 124, 124);
  border-radius: 10px;
  list-style: none;
  text-align: center;
  width: max-content;
}
.newsCardImg {
  border-radius: 10px;
  background-color: azure;
  width: 180px;
  height: 180px;
}

.newsCardTitle {
  font-size: 0.7em;
  width: 180px;
  margin: 0 auto;
}

@media (min-width: 900px) {
  .newsContainer {
    display: grid;
    gap: 20px;
    padding: 30px;
    justify-content: center;
  }
  .newsCardImg {
    border-radius: 10px;
    background-color: azure;
    width: 150px;
    height: 150px;
  }

  .newsCardTitle {
    font-size: 0.7em;
    width: 150px;
    margin: 0 auto;
  }
}
